.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  